---
layout: layouts/default.liquid
pagination:
  data: Blog
  size: 1
  alias: post
title: My Blog
---


<div class="d-flex justify-content-center">
  <h1>{{ title }}</h1>
</div>

<div class="container">
  {% for post in pagination.items %}
    <div class="card">
      <div class="card__header">
        {% if post.fields.image.fields.file.url %}
          <img src="{{ post.fields.image.fields.file.url }}" alt="card__image" class="card__image" width="900">
        {% endif %}
      </div>
      <div class="card__body">
        <h4>{{ post.fields.title }}</h4>
        <button class="more-info-button" data-id="content-{{ forloop.index }}">Read More</button>
        <div id="content-{{ forloop.index }}" class="hidden">
          <p>{{ post.fields.content }}</p>
        </div>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="/public/img/user.jpeg" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>Malsini Masachchige</h5>
            <small>{{ post.fields.date }}</small>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<hr>
<div class="d-flex justify-content-center">
  {% include 'partials/pagination.liquid' %}
</div>

<script>
// Wait until the DOM content is loaded
document.addEventListener("DOMContentLoaded", () => {
  const buttons = document.querySelectorAll(".more-info-button");
  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const contentId = event.target.getAttribute("data-id");
      const content = document.getElementById(contentId);
      if (content.classList.contains("hidden")) {
        content.classList.remove("hidden");
        button.textContent = "Read Less";
      } else {
        content.classList.add("hidden");
        button.textContent = "Read More";
      }
    });
  });
});
</script>
