---
layout: layouts/default.liquid
pagination:
  data: Movie
  size: 1
  alias: horror
title: Horror Movie Facts
---

<div class="d-flex justify-content-center">
  <h1>{{ title }}</h1>
</div>

<hr>
{% comment %} Render cards for each horror movie item {% endcomment %}
{% for horror in pagination.items %}
  <div class="d-flex justify-content-center">
    <div class="card mal" style="width: 20rem;">
      {% if horror.fields.image.fields.file.url %}
        <img src="{{ horror.fields.image.fields.file.url }}" class="card-img-top" alt="{{ horror.fields.name }}">
      {% else %}
        <img src="/public/img/placeholder.png" class="card-img-top" alt="Placeholder">
      {% endif %}
      <div class="card-body">
        <h3>{{ horror.fields.name }}</h3>
        <p>{{ horror.fields.description }}</p>
      </div>
    </div>
  </div>
{% endfor %}

<hr>
<div class="d-flex justify-content-center">
  {% include 'partials/pagination.liquid' %}
</div>
